.content{
  background-color: #09BC8A;
  padding-bottom: 10px;
}
.aboutme{
  margin: auto;
  height: 500px;
  width: 1150;
  padding: 40 0 40 0;
  border-bottom: 2px outset #172A3A;
}
.col1, .col2 {
  float: left;
  width: 540px;
  height: 500px;
  margin: 15px;
}
#image{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 2px outset #172A3A;
}
#aboutme {
  text-align: left;
  color: #172A3A;
}
h3 {
  padding-bottom: 5px;
  border-bottom: 2px outset #172A3A;
}
.button1, .button2 {
  width: 45%;
  height: 50%;
}
.button1 {
  float: left;
  margin-left: 10px;
}
.button2 {
  float: right;
  margin-right: 10px;
}
#top, #bottom {
    left: 0;
    right: 0;
    height: 50%;
}
#top {
    top: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: #74B3CE;
}
#bottom {
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: #004346;
}
