.content{
  background-color: white;
  padding-bottom: 10px;
}
.aboutme{
  margin: auto;
  height: 500px;
  width: 1150;
  padding: 40 0 40 0;
  border-bottom: 2px outset #172A3A;
}
.col1, .col2 {
  float: left;
  width: 540px;
  height: 500px;
  margin: 15px;
}
#image{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
#aboutme {
  text-align: left;
  color: #172A3A;
}
#info {
  padding-bottom: 5px;
  border-bottom: 2px outset #172A3A;
}
.button1, .button2 {
  width: 90%;
  height: 20%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.button1 {
  margin-bottom: 15px;
}
.button2 {
  margin-bottom: : 0px;
}
.button1:hover, .button2:hover {
  border: 2px outset #09BC8A;
  box-shadow: 0 0 0 0;
}
.left{
  float: left;
  width: 20%;
  height: 100%;
  margin: 0;
  border-radius: 5px 0 0 5px;
  background-color: #004346;

}

.right{
  float: right;
  height: 100%;
  width: 80%;
  margin: 0;
  border-radius: 0 5px 5px 0;
  background-color: #508991;
}
