body {
  font-family: arial;
  /*color scheme #F7F7FF-Ghost White #279AF1-Carolina Blue #23B5D3-Pacific Blue
    #070600-Rich Black #EA526F-Paradise Pink*/
  background-color: White;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar {
  background-color: #2B3A67;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header {
  text-align: center;
  background-color: #F7F7FF;
  margin-left: 200px;
  margin-right: 200px;
}
.content{
  text-align: left;
  background-color: #F7F7FF;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.header {
}

#aboutme {
}
