html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  /*#04060A*/
  background: linear-gradient(#1A0C20, #331840);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#left{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10%;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-out 1s;
}

#left.fade{
  opacity: 1;
}
#left #media_container1{
  position: absolute;
  bottom: 32vh;
  left: 35%;
  width: 30px;
}
#media_container1 svg{
  fill: #FF7D61;
  margin-bottom: 20px;

  transition: fill .5s ease-out, transform .5s ease-out;
}

#media_container1 svg:hover{
  fill: #61E3FF;
  transform: scale(1.2,1.2);
}

#right{
  position: fixed;
  left: 90%;
  top: 0;
  height: 100vh;
  width: 10%;
  z-index: -1;
  /*border: dashed white;*/

}
.logo{
  position: fixed;
  left: 2vw;
  top: 0;
  z-index: 3;
}

#hamburger{
  display: none;
  cursor: pointer;
}

.menu{
  height: 60px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: -100px;
  /*background-color: #1A0C20;*/
  padding-bottom: 20px;
  background: inherit;
  z-index: 2;

  transition: top 1s ease-out;
}
.menu.slide{
  top: 0px;
}

.menu::before{
 content: '';
 background: inherit;
 position: absolute;
 left: -25;
 right: -25;
 top: -25;
 bottom: -25;
 box-shadow: inset 0 0 0 3000px rgba(26, 12, 32,0.3);
 filter: blur(10px);
}

header{

}
header::after{
  content: '';
  display: table;
  clear: both;
}

.menu nav{
  display: block;
  position: absolute;
  right: 70px;
  padding-bottom: 20px;
}
.menu nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu nav li{
  display: inline-block;
  margin-left: px;
  padding: 30px 35px 0 35px;


  position: relative;

}
.menu nav a{
  color: #FF7D61;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

  transition: color .3s linear;
}
.menu nav a:hover{
  color: #61E3FF;
}

.menu nav a.active{
  color: #61E3FF;
}


#home{
  position: relative;
  padding: 250px 0;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
}
#home #sky-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#sky{
}
#home h3{
  color: #DFE8E5;
  font-size: 60px;
  font-weight: 500;

  margin: 0;
  margin-left: 10%;
}
#home h3 span{
  color: #61E3FF;
}
#home h3 em{
  color: #FF7D61;
}
#home #intro{
  float: left;
  width: 100%;
  margin: 0;
}
@keyframes starPulse{
  0% { transform: scale(1, 1); }
  30% { transform: scale(1.2, 1.6); }
  40% { transform: scale(1.5, 1.2); }
  70% { transform: scale(0.6, 0.2); }
  90% { transform: scale(0.9, 0.5); }
  100% { transform: scale(1.2, 0.6); }
}
@keyframes starGlowing{
  0% {opacity: 1;}
  100% {opacity: 0.1;}
}
@keyframes shootingStarBurn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes shootingStarOrbit{
  0% {transform:
    rotate(var(--shooting-orbit-angle-start, 0deg))
    translate(100px, 0);
  }
  100% {
    transform:
      rotate(var(--shooting-orbit-angle, 180deg))
      translate(var(--shooting-orbit-radius, 100px), 0);
  }
}
.twinkle-little-star{
  animation:
    starPulse 5s infinite alternate,
    starGlowing 1s infinite alternate;

  animation-delay: var(--animation-twinkle-delay, 0)
}
.shooting-star{
  animation:
  shootingStarOrbit 2s linear infinite,
  shootingStarBurn 2s linear infinite;
}




#about{
  height: 100vh;
  height: -webkit-fill-available;
  width: 80%;
  padding: 100px 0 0 0;
  margin: 0 auto;
}
#about #description{
  float: left;
  width: 45%;
  margin: 0;
  opacity: 0;
  transition: opacity 3s ease-in;
}

#about #description.fade{
  opacity: 1;
}
#about #description p{
  color: #DFE8E5;
  font-size: 20px;

  margin: 0;
  padding: 10px 0;
}
#about #description p span{
  color: #FF7D61;
}
#about #skills{
  float: right;
  width: 50%;
  height: 500px;
  margin: 0;
}
#skills svg rect {
  fill:  #61E3FF;
}
#skills #label {
  fill: #61E3FF;
}
#skills svg text {
  fill: black;
  font: 15px sans-serif;
}

#experience{
  height: 100vh;
  height: -webkit-fill-available;
  width: 80%;
  padding-top: 120px;
  margin: 0 auto;
}
#exp_tab_container{
  position: relative;
  width: 50%;
  margin: 0 auto;
}
#exp_tab_container::after{
  content: '';
  display: table;
  clear: both;
}
#exp_tab_container .slider{
  position: absolute;
  display: block;
  height: 2px;
  width: 60px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  background-color: #61E3FF;
  transition: width .2s linear, left .2s linear;
}
#exp_tab{
  float: left;
}
#exp_tab ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#exp_tab ul li{
  display: inline-block;
  padding: 15px;
  margin: 0;

  background-color: inherit;
  /*border-style: dashed;*/
  outline: none;
  cursor: pointer;

  color: #FF7D61;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

  transition: background-color .3s ease-in, color .3s ease-in;
}
#exp_tab ul li:hover{
  background-color: #331840;
  color: #61E3FF;
}
#exp_tab ul li.active{
  background-color: #331840;
  color: #61E3FF;
}
.tabcontent{
  width: 50%;
  height: 350px;
  margin: 0 auto;
  margin-top: 30px;
}
.tabcontent header{
  padding-left: 15px;
}
.tabcontent header h2{
  /*border-style: dashed;*/
  margin: 0;

  color: #61E3FF;
}
.tabcontent header h3{
  margin: 0;

  color: #FF7D61;
}
.tabcontent ul{

}
.tabcontent li{
  font-size: 16px;
  color: #DFE8E5;
  margin-bottom: 20px;
}
#organizations, #umiacs, #reslife{
  display: none;
}

#radio{
  height: 100vh;
  height: -webkit-fill-available;
  width: 80%;
  padding: 150px 0;
  margin: 0 auto;
}

#contact{
  height: 100vh;
  height: -webkit-fill-available;
  width: 80%;
  padding-top: 190px;
  margin: 0 auto;
}
#contact form{
}
#contact input[type=text]{
  width: 45%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
  background-color: #1A0C20;
  color: #61E3FF;
  border: none;
}
#contact textarea{
  width: 45%;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  background-color: #1A0C20;
  color: #61E3FF;
  border: none;
}
#contact input[type=submit]{
  display: block;
  margin: 0 auto;
  border: none;

  background-color: #FF7D61;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color .6s linear;
}
#contact input[type=submit]:hover{
  background-color: #61E3FF;

}

#contact_media{
  display: none;
}
.page_header{
  text-align: center;
  color: #61E3FF;
  font-size: 40px;
  font-weight: 200;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 1099px) {
  #home, #about, #experience, #radio, #contact{
    width: 100%;
    padding: 0;
    display: none;
  }

  #left, #right {
    display: none;
  }

  .logo{
    display: block;
    position: fixed;
    height: 50px;
    width: 50px;
    top: 10px;
    left: 10px;
    /*fill:  #FF7D61;*/
  }

  #hamburger{
    display: block;
    position: fixed;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
    fill:  #FF7D61;
    z-index: 2;
  }
  .menu::before{
    content: none;
  }
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    padding-top: 15vh;
    background: linear-gradient(#1A0C20, #331840);

    transform: translate3d(105vw, 0, 0);
    transition: transform .3s linear;
  }
  .menu.show{
    transform: translate3d(0vw, 0, 0);
  }
  .menu nav{
    position: static;
    width: 100%;
    margin: 0 auto;
  }
  .menu nav li{
    display: block;
    margin: 0;
    text-align: center;
  }
  .menu nav li a{
    font-size: 18px;
  }

  .page_header{
    font-size: 30px;
  }
  #home {
    display: block;
    float: none;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    padding-top: 40vh;
    margin: 0 auto;
  }
  #home h3{
    color: #DFE8E5;
    font-size: 30px;
    font-weight: 500;
    padding-left: 5vw;
    margin: 0 auto;
  }
  #home h3 span{
    color: #61E3FF;
  }
  #home h3 em{
    color: #FF7D61;
  }

  #about{
    display: block;
    height: 150vh;
    width: 100vw;
    padding-top: 15vh;
  }
  #about #description{
    display: block;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
    margin-bottom: 15vh;
  }
  #about #description p{
    font-size: 15px;
  }
  #about #skills{
    display: block;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
  }
  #about #skills #label{
    width: 25%;
  }

  #experience{
    display: block;
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    padding-top: 10vh;
  }
  #exp_tab_container{
    width: 100vw;
  }
  #exp_tab{
    display: block;
    margin-left: 2vw;
  }

  #exp_tab ul li{
    font-size: 14px;
  }
  .tabcontent{
    height: 70vh;
    width: 100vw;
  }
  .tabcontent ul{
    padding-left: 7vw;
    padding-right: 5vw;
  }

  #radio{
    display: block;
    height: 30vh;
  }

  #contact{
    display: block;
    width: 100vw;
    height: 85vh;
    padding-top: 10vh;
  }
  #contact input[type=text]{
    width: 90vw;
    margin-left: 5vw;
  }
  #contact textarea{
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }
  #contact_media{
    display: block;
    width: 170px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15vh;
    padding-left: 10px;
  }
  #contact svg{
    height: 30px;
    width: 30px;
    fill: #FF7D61;
  }
}

@media (min-width: 320px) and (min-height: 800px)
       and (max-width: 1099px) and (max-height: 1000px){

  #about{
    height: 130vh
  }

  #experience{
    height: 80vh;
  }
  .tabcontent{
    height: 60vh;
  }

  #contact{
    height: 70vh;
  }



}

@media (min-width: 750px) and (max-width: 1099px){
  #hamburger{
    height: 50px;
    width: 50px;
  }
  .logo{
    height: 50px;
    width: 50px;
  }
  .menu{
    width: 25vw;
  }
  #home{
    height: 100vh;
    height: -webkit-fill-available;
  }
  #home h3{
    font-size: 50px;
  }

  #about{
    height: 125vh;
    padding-top: 10vh;
  }
  #about #description{
    margin-bottom: 5vh;
  }
  #about #description p{
    font-size: 22px;
  }

  #experience{
    height: 80vh;
  }
  #exp_tab .tablinks{
    font-size: 18px;
  }
  .tabcontent li{
    font-size: 22px;
  }
  .tabcontent header h2{
    font-size: 26px;
  }
  .tabcontent header h3{
    font-size: 24px;
  }


  #radio{
    height: 30vh;
  }

  #contact{
    height: 80vh;
  }
  #contact input[type=text]{
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  #contact textarea{
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px){
  .page_header{
    font-size: 35px;
  }
  #hamburger{
    height: 60px;
    width: 60px;
  }
  .logo{
    height: 70px;
    width: 70px;
  }
  #home h3{
    font-size: 60px;
  }
  #about{
    padding-top: 15vh;
    height: 150vh;
  }
  #about #description p{
    font-size: 25px;
  }

  #experience{
    padding-top: 15vh;
    height: 90vh;
  }
  #exp_tab .tablinks{
    font-size: 22px;
  }
  .tabcontent{
    height: 70vh;
  }
  .tabcontent li{
    font-size: 24px;
  }
  .tabcontent header h2{
    font-size: 28px;
  }
  .tabcontent header h3{
    font-size: 26px;
  }

  #radio{
    height: 30vh;
  }
  #contact{
    height: 80vh;
  }
  #contact input[type=text]{
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  #contact textarea{
    width: 65vw;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: 750px) and (min-height: 1024px)
         and (max-width: 1060px) and (max-height: 1400px){
    #about{
      height: -webkit-fill-available;
    }
    #experience{
      height: 60vh;
    }
    #contact{
      height: 65vh;
    }
  }
}
